@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");


header{
    font-family: "Zen Kurenaido", sans-serif;
    margin: 10px 200px;
    display: grid;
    background-color: blueviolet;
    align-items:center;
    grid-template-columns: repeat(6, 1fr) ;
    
}

img{
    min-height: 200px;
    max-height: 500px;
}

.index-img{
    align-items: center;
    grid-area: 1/1/span 1 / span 1  ;
    
}

header h1 {
    grid-area: 1/2 /span 1 /span 2 ;
}

body {
    font-family: "Open Sans", sans-serif;

}